global:
  scrape_interval: 30s
  evaluation_interval: 30s
  external_labels:
    monitor: 'clinica-monitoring'

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files:
  # - "alert_rules.yml"

scrape_configs:
  # Prometheus itself - Solo monitoreo de Prometheus
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
    scrape_interval: 10s
    scrape_timeout: 5s
